@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body
{
    padding: 0;
    margin: 0;
}

header
{
    overflow: hidden;
    width: 100%;
}

.top-header
{
    height: 100px;
    background-color: white;
}

.top-header .logo a img
{
    width: auto;
    height 100px;
    float: left;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
}


.top-header .social-media
{
    vertical-align: middle;
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 80px;
    display: inline-block; 
}

.top-header .social-media img
{
    height: 50px;
    display: inline-block;
    
}

.bottom-header
{
    background-color: #e7e7e7;
    width: 100%;
}

nav
{
    height: 50px;
    
}


ul {
    
    list-style-type: none; 
}

li {
    
    display: inline-block;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #6895CE;
    color: white;
}

.active {
    background-color: #6895CE;
    color: white;
}







.first-section
{
    
    
    background-color: white;
    background-image: linear-gradient(53deg, #2E487F 0%, #6895CE 100%); 
    height: 700px;
}

.first-section .main-text-box
{
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.first-section .main-text-box h1
{
  
}

.second-section .container 
{
    border-radius: 25px;
    position: relative;
    width: 500px;
    height: 600px;
    background-color: #e7e7e7;
    top: -300px;
    margin-left: 50px;
    float: left;
}

.second-section .container .twitter-container
{
    margin-top: 75px;
    margin-left: 25px;
}

.top-footer
{
    background-color: #e7e7e7;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font
}

.top-footer .content
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.top-footer .left-float{
    
    float: left;
    margin-left: 80px;
}

.top-footer .right-float{
    float: right;
    margin-right: 80px;
}

.bottom-footer
{
    height: 100px;
}